*{
  margin: 0 0 0 0;
}

body {
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App{
  display: grid;
  grid-template-columns: 150px auto;
  grid-template-rows: 30px repeat(3, auto);
  grid-template-areas: "logo topbar"
                       "lateralbar contenido"
                       "lateralbar contenido"
                       "lateralbar contenido";
}
